.intro {
    margin: auto;
    width: 50%;
    text-align: center;
}

.title {

}

.mission-statement {

}

.contact-reserve-buttons {
    text-align: center;

}

.nearby {
    margin: auto;
    width: 70%;
    overflow: auto;
}

.nearby-title {
    text-align: center;
}

.house-info {
    margin: auto;
    width: 70%;
    text-align: center;
    overflow: auto;
}

.map {
    margin: auto;
    width: 70%;
    height: 50vh;
    text-align: center;
    overflow: auto;

}

.pictures {
    margin: auto;
    width: 60%;
    text-align: center;
}

.reserve-now {
    width: 70%;
    margin: auto;

}

.reserve-info {

}

.reserve-message {

}

.contact-us-email {
    width: 70%;
    margin: auto;
}

.contact-info {

}

.contact-message {
}