.intro {
    position: relative;
    left: 0;
    top: 8vh;
    height: 80vh;
    width: 100%;
    background-image: url("../images/SplashScreen/vacationSplash.JPG");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;

}

.intro-interact {
    position: absolute;
    margin: auto;
    text-align: center;
    padding-top: 40vh;
}

.title {

}

.mission-statement {

}

.contact-reserve-buttons {

}

.nearby {
    padding-top: 10vh;
    margin: auto;
    width: 80%;
    overflow: auto;
}

.nearby-title {
    text-align: center;
}

.house-info {
    padding-top: 10vh;
    margin: auto;
    width: 70%;
    text-align: center;
    overflow: auto;
}

.map {
    margin: auto;
    width: 80%;
    height: 80vh;
    text-align: center;
    overflow: auto;
    padding-top:10vh;

}

.pictures {
    padding-top: 10vh;
    margin: auto;
    width: 60%;
    text-align: center;
}

.reserve-now {
    padding-top: 10vh;
    width: 70%;
    margin: auto;

}

.reserve-info {

}

.reserve-message {

}

.contact-us-email {
    padding-top: 10vh;
    width: 70%;
    margin: auto;
}

.contact-info {

}

.contact-message {
}